<ul class="list-group col-md-10 offset-md-1">
    <li class="list-group-item"><strong>{STATION_TYPE}</strong> : Weatherlink {_STATION_TYPE}</li>
    <li class="list-group-item"><strong>{STATION_LOCATION}</strong> : {_STATION_LOCATION}</li>
    <li class="list-group-item"><strong>{STATION_USER}</strong> : {_STATION_USER}</li>
    <li class="list-group-item"><strong>{STATION_DID}</strong> : {_STATION_DID}</li>
    <li class="list-group-item"><strong>{STATION_PASSWORD}</strong> : {_STATION_PASSWORD}</li>
    <li class="list-group-item"><strong>{STATION_TOKEN}</strong> : {_STATION_TOKEN}</li>
</ul>