<ul class="list-group col-md-10 offset-md-1">
    <li class="list-group-item"><strong>{STATION_TYPE}</strong> : Weatherlink <span class="capitalise">{_STATION_TYPE}</span></li>
    <li class="list-group-item"><strong>{STATION_LOCATION}</strong> : {_STATION_LOCATION}</li>
    <li class="list-group-item"><strong>{STATION_USER}</strong> : {_STATION_USER}</li>
    <li class="list-group-item"><strong>{STATION_LIVEKEY}</strong> : {_STATION_LIVEKEY}</li>
    <li class="list-group-item"><strong>{STATION_LIVESECRET}</strong> : {_STATION_LIVESECRET}</li>
</ul>