<ul class="list-group col-md-10 offset-md-1">
    <li class="list-group-item"><strong>{STATION_TYPE}</strong> : Weatherlink <span class="capitalise">{_STATION_TYPE}</span></li>
    <li class="list-group-item"><strong>{STATION_LOCATION}</strong> : {_STATION_LOCATION}</li>
    <li class="list-group-item"><strong>{STATION_WXURL}</strong> : {_STATION_WXURL}</li>
    <li class="list-group-item"><strong>{STATION_WXID}</strong> : {_STATION_WXID}</li>
    <li class="list-group-item"><strong>{STATION_WXKEY}</strong> : {_STATION_WXKEY}</li>
    <li class="list-group-item"><strong>{STATION_WXSIGN}</strong> : {_STATION_WXSIGN}</li>
</ul>