<ul class="list-group col-md-10 offset-md-1">

  <li class="list-group-item">
      <label for="user_login" class="form-label">{LOGIN_USER_LABEL}</label>
      <input type="text" class="form-control" id="user_login" name="user_login" value="" placeholder="{USERNAME}" required>
      
    </li>
    <li class="list-group-item">
      <label for="user_password" class="form-label">{LOGIN_PASSWORD_LABEL}</label>
      <input type="password" class="form-control" id="user_password" name="user_password" value="" placeholder="{PASSWORD}" required>
      
    </li>
  </ul>