<header id="header_home">
    <div id="logo">
        <a href="{_ROOT}" title="{_ROOT}">
            <img src="images/logo_virga_{_LOGO}.png">
        </a>
    </div>

    <div id="header_d">
        <a title="{RELOAD}" href="index.php?controller=home&action=index&lg={_LG}">
            <i class="fas fa-sync-alt"></i>
        </a>
        <a title="{RELOAD}" href="index.php?controller=home&action=index&lg={_LG}" id="compteur">
        </a>
        <script>
            (function countdown(remaining) {
                if (remaining == 0)
                    window.location = window.location.href;
                document.getElementById('compteur').innerHTML = remaining;
                setTimeout(function () { countdown(remaining - 1); }, 1000);
            })(60); 
            
        </script>
    </div>
</header>