<nav class="navmenu navmenu-default navmenu-fixed-left offcanvas">

    <div id="drap" class="drap_left">
        {_DRAP}
    </div>
    
        <ul class="nav navbar-nav">
            <h1 class="border_top title_menu">{STYLES}</h1>

            <li class="pushy-submenu">
                <button class="first-link">
                    {DESIGN}
                </button>
                {_SOUS_MENU_CSS}
            </li>
            <li class="pushy-submenu">
                <button class="first-link">
                    {DAY_NIGHT}
                </button>
                {_SOUS_MENU_DAY_NIGHT}
            </li>
            <li class="pushy-submenu">
                <button class="first-link">
                    {COLOR}
                </button>
                {_SOUS_MENU_COLOR}
            </li>
            <li class="pushy-submenu">
                <button class="first-link">
                    {ICONS}
                </button>
                {_SOUS_MENU_ICON}
            </li>

            <h1 class="border_top title_menu">
                {UNITS}
            </h1>
            <li class="pushy-submenu">
                <button>
                    {TEMPERATURE}
                </button>
                {_SOUS_MENU_TEMP}
            </li>
            <li class="pushy-submenu">
                <button>
                    {WIND}
                </button>
                {_SOUS_MENU_WIND}
            </li>
            <li class="pushy-submenu">
                <button>
                    {RAIN}
                </button>
                {_SOUS_MENU_RAIN}
            </li>
            <li class="pushy-submenu">
                <button>
                    {PRESSURE}
                </button>
                {_SOUS_MENU_PRESSURE}
            </li>


            <h1 class="border_top title_menu">
                {ADMIN}
            </h1>
            <li>
                <a href="index.php?controller=pref&action=list&lg={_LG}">{SETTINGS}</a>
            </li>
        </ul>

</nav>