<ul class="list-group col-md-10 offset-md-1">
  <li class="list-group-item">
    <label for="hosbdd" class="form-label">{BDD_HOST_LABEL}</label>
    <input type="text" class="form-control" id="hostbdd" name="hostbdd" value="" placeholder="{LOCALHOST}" autofocus
      required>
    <div class="form-text">{BDD_HOST_TEXT}</div>
  </li>
  <li class="list-group-item">
    <label for="userbdd" class="form-label">{BDD_USER_LABEL}</label>
    <input type="text" class="form-control" id="userbdd" name="userbdd" value="" placeholder="{USERNAME}" required>
    <div class="form-text">{BDD_USER_TEXT}</div>
  </li>
  <li class="list-group-item">
    <label for="passwordbdd" class="form-label">{BDD_PASSWORD_LABEL}</label>
    <input type="password" class="form-control" id="passwordbdd" name="passwordbdd" value="" placeholder="{PASSWORD}">
    <div class="form-text">{BDD_PASSWORD_TEXT}</div>
  </li>
  <li class="list-group-item">
    <label for="namebdd" class="form-label">{BDD_NAME_LABEL}</label>
    <input type="text" class="form-control" id="namebdd" name="namebdd" value="" placeholder="{MBELL_MIN}" required>
    <div class="form-text">{BDD_NAME_TEXT}</div>
  </li>
  <li class="list-group-item">
    <label for="metabdd" class="form-label">{BDD_META_LABEL}</label>
    <input type="text" class="form-control" id="metabdd" name="metabdd" value="" placeholder="{TAG_MBELL}">
    <div class="form-text">{BDD_META_TEXT_2}</div>
  </li>
</ul>