<div class="row row_espace row_espace_top">
  <div class="col-md-4 offset-md-4">
    <div class="form-group">
      <form action="" method="get">
        <select name="lg" class="form-control" id="choose_lang">
          <option selected value="">{CHOOSE_SELECT}</option>
          <option value="fr">1- {LANG_TEXT_FR}</option>
          <option value="en">2- {LANG_TEXT_EN}</option>
        </select>
      </form>
    </div>
    <div class="tab_select">
      {_IMG_DRAP_ACTIVE} : {_LANG_TEXT}
    </div>
  </div><!-- FIN .col-md-4 -->
</div><!-- FIN .row -->