<ul class="list-group col-md-10 offset-md-1">

    <li class="list-group-item">
        <label for="stat_livekey" class="form-label">{DAVIS_LIVEKEY}</label>
        <input type="text" class="form-control" id="stat_livekey" name="stat_livekey" value="{_VAL_STAT_LIVEKEY}" placeholder="{CASE_SENSITIVE}"
            required autofocus>
        <div class="form-text">{DAVIS_LIVEKEY_TEXT}</div>
    </li>
    <li class="list-group-item">
        <label for="stat_livesecret" class="form-label">{DAVIS_LIVESECRET}</label>
        <input type="password" class="form-control" id="stat_livesecret" name="stat_livesecret" value="{_VAL_STAT_LIVESECRET}"
            placeholder="{CASE_SENSITIVE}" required>
        <div class="form-text">{DAVIS_LIVESECRET_TEXT}</div>
    </li>
    <li class="list-group-item">
        <label for="stat_livenbr" class="form-label">{DAVIS_LIVENBR}</label>
        <input type="number" class="form-control" id="stat_livenbr" name="stat_livenbr" value="{_VAL_STAT_LIVENBR}"
            placeholder="{NBR}" min="1" max="10">
        <div class="form-text">{DAVIS_LIVENBR_TEXT}</div>
    </li>
</ul>
<input type="hidden" id="stat_type" name="stat_type" value="live">
<input type="hidden" id="stat_users" name="stat_users" value="{_VAL_STAT_USERS}">
<input type="hidden" id="stat_key" name="stat_key" value="{_VAL_STAT_KEY}">
<input type="hidden" id="stat_did" name="stat_did" value="{_VAL_STAT_DID}">
<input type="hidden" id="stat_password" name="stat_password" value="{_VAL_STAT_PASSWORD}">
<input type="hidden" id="stat_token" name="stat_token" value="{_VAL_STAT_TOKEN}">
<input type="hidden" id="stat_wxurl" name="stat_wxurl" value="{_VAL_STAT_WXURL}">
<input type="hidden" id="stat_wxid" name="stat_wxid" value="{_VAL_STAT_WXID}">
<input type="hidden" id="stat_wxkey" name="stat_wxkey" value="{_VAL_STAT_WXKEY}">
<input type="hidden" id="stat_wxsign" name="stat_wxsign" value="{_VAL_STAT_WXSIGN}">
<input type="hidden" id="user_id" name="user_id" value="{_USER_ID}">
<input type="hidden" id="stat_id" name="stat_id" value="{_VAL_STAT_ID}">