<div class="row row_espace row_espace_top">
    <div class="col-md-4 offset-md-4">
        <div class="form-group">
            <form action="" method="get">
                <input type="hidden" name="controller" value="{_CONTROLLER}">
                <input type="hidden" name="action" value="{_ACTION}">
                <input type="hidden" name="lg" value="{_LG}">
                <select name="station" class="form-control" id="choose_station">
                    <option selected value="">{CHOOSE_SELECT}</option>
                    <option value="v0">{ANY}</option>
                    <option value="v1">1- {STATION_SELECT_V1}</option>
                    <option value="v2">2- {STATION_SELECT_V2}</option>
                    <option value="live">3- {STATION_SELECT_LIVE}</option>
                    <option value="weewx">4- {STATION_SELECT_WX}</option>
                </select>
            </form>
        </div>
        <div class="tab_select">
            {_STATION_CHOICE_SELECT}
        </div>
    </div><!-- FIN .col-md-4 -->
</div><!-- FIN .row -->