
<h2 class="col-md-10 offset-md-1">{LANGUAGE}</h2>

<ul class="list-group col-md-10 offset-md-1">
    <li class="list-group-item">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="var_lang" value="en" {para1} id="var_lang_en">
            <label class="form-check-label" for="var_lang_en">
                {ENGLISH}
            </label>
        </div>
    </li>
    <li class="list-group-item">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="var_lang" value="fr" {para2} id="var_lang_fr">
            <label class="form-check-label" for="var_lang_fr">
                {FRENCH}
            </label>
        </div>
    </li>   
</ul>

<h2 class="col-md-10 offset-md-1">{TEMPERATURE}</h2>

<ul class="list-group col-md-10 offset-md-1">
    <li class="list-group-item">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="var_temp" value="C" {para3} id="var_temp_c">
            <label class="form-check-label" for="var_temp_c">
                {CELSIUS}
            </label>
        </div>
    </li>
    <li class="list-group-item">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="var_temp" value="F" {para4} id="var_temp_f">
            <label class="form-check-label" for="var_temp_f">
                {FAHRENHEIT}
            </label>
        </div>
    </li>   
</ul>

<h2 class="col-md-10 offset-md-1">{WIND}</h2>

<ul class="list-group col-md-10 offset-md-1">
    <li class="list-group-item">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="var_wind" value="kph" {para5} id="var_wind_mph">
            <label class="form-check-label" for="var_wind_mph">
                {KPH}
            </label>
        </div>
    </li>
    <li class="list-group-item">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="var_wind" value="mph" {para6} id="var_wind_kph">
            <label class="form-check-label" for="var_wind_kph">
                {MPH}
            </label>
        </div>
    </li>   
</ul>

<h2 class="col-md-10 offset-md-1">{RAIN}</h2>

<ul class="list-group col-md-10 offset-md-1">
    <li class="list-group-item">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="var_rain" value="mm" {para7} id="var_rain_mm">
            <label class="form-check-label" for="var_rain_mm">
                {MM}
            </label>
        </div>
    </li>
    <li class="list-group-item">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="var_rain" value="in" {para8} id="var_rain_in">
            <label class="form-check-label" for="var_rain_in">
                {IN}
            </label>
        </div>
    </li>   
</ul>

<h2 class="col-md-10 offset-md-1">{PRESSURE}</h2>

<ul class="list-group col-md-10 offset-md-1">
    <li class="list-group-item">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="var_press" value="hpa" {para9} id="var_press_hpa">
            <label class="form-check-label" for="var_press_hpa">
                {HPA}
            </label>
        </div>
    </li>
    <li class="list-group-item">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="var_press" value="inhg" {para10} id="var_press_inhg">
            <label class="form-check-label" for="var_press_inhg">
                {INHG}
            </label>
        </div>
    </li>   
</ul>

<h2 class="col-md-10 offset-md-1">{DESIGN}</h2>

<ul class="list-group col-md-10 offset-md-1">
    <li class="list-group-item">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="var_css" value="bluedark" {para11} id="var_css_bluedark">
            <label class="form-check-label" for="var_css_bluedark">
                {DARK_BLUE}
            </label>
        </div>
    </li>
    <li class="list-group-item">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="var_css" value="bluelight" {para12} id="var_css_bluelight">
            <label class="form-check-label" for="var_css_bluelight">
                {LIGHT_BLUE}
            </label>
        </div>
    </li>   
    <li class="list-group-item">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="var_css" value="white" {para13} id="var_css_white">
            <label class="form-check-label" for="var_css_white">
                {BLACK}
            </label>
        </div>
    </li>
    <li class="list-group-item">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="var_css" value="black" {para14} id="var_css_black">
            <label class="form-check-label" for="var_css_black">
                {WHITE}
            </label>
        </div>
    </li>  
</ul>

<h2 class="col-md-10 offset-md-1">{DAY_NIGHT}</h2>

<ul class="list-group col-md-10 offset-md-1">
    <li class="list-group-item">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="var_daynight" value="1" {para15} id="var_daynight_1">
            <label class="form-check-label" for="var_daynight_1">
                {ON}
            </label>
        </div>
    </li>
    <li class="list-group-item">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="var_daynight" value="0" {para16} id="var_daynight_0">
            <label class="form-check-label" for="var_daynight_0">
                {OFF}
            </label>
        </div>
    </li>   
</ul>

<h2 class="col-md-10 offset-md-1">{COLOR}</h2>

<ul class="list-group col-md-10 offset-md-1">
    <li class="list-group-item">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="var_color" value="neutral" {para17} id="var_color_neutral">
            <label class="form-check-label" for="var_color_neutral">
                {NEUTRAL}
            </label>
        </div>
    </li>
    <li class="list-group-item">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="var_color" value="colored" {para18} id="var_color_colored">
            <label class="form-check-label" for="var_color_colored">
                {COLORED}
            </label>
        </div>
    </li>   
    <li class="list-group-item">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="var_color" value="dynamic" {para19} id="var_color_dynamic">
            <label class="form-check-label" for="var_color_dynamic">
                {DYNAMIC}
            </label>
        </div>
    </li>   
</ul>

<h2 class="col-md-10 offset-md-1">{ICONS}</h2>

<ul class="list-group col-md-10 offset-md-1">
    <li class="list-group-item">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="var_icon" value="1" {para20} id="var_icon_1">
            <label class="form-check-label" for="var_icon_1">
                {YES}
            </label>
        </div>
    </li>
    <li class="list-group-item">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="var_icon" value="0" {para21} id="var_icon_0">
            <label class="form-check-label" for="var_icon_0">
                {NO}
            </label>
        </div>
    </li>   
</ul>

<input type="hidden" name="config_id" value="{config_id}">
<!--<input type="hidden" name="var_cron" value="{var_cron}">-->