<ul class="list-group col-md-10 offset-md-1">
    <li class="list-group-item">
        <div class="form-check">
            <input class="var_lines form-check-input" type="radio" name="var_lines" value="1" {para1} id="var_line_1">
            <label class="form-check-label" for="var_line_1">
                 1 {LINE}
            </label>
        </div>
    </li>
    <li class="list-group-item">
        <div class="form-check">
            <input class="var_lines form-check-input" type="radio" name="var_lines" value="2" {para2} id="var_line_2">
            <label class="form-check-label" for="var_line_2">
                2 {LINE}s
            </label>
        </div>
    </li>   
    <li class="list-group-item">
        <div class="form-check">
            <input class="var_lines form-check-input" type="radio" name="var_lines" value="3" {para3} id="var_line_3">
            <label class="form-check-label" for="var_line_3">
                3 {LINE}s
            </label>
        </div>
    </li>  
    <li class="list-group-item">
        <div class="form-check">
            <input class="var_lines form-check-input" type="radio" name="var_lines" value="4" {para4} id="var_line_4">
            <label class="form-check-label" for="var_line_4">
                4 {LINE}s
            </label>
        </div>
    </li>  
    <li class="list-group-item">
        <div class="form-check">
            <input class="var_lines form-check-input" type="radio" name="var_lines" value="5" {para5} id="var_line_5">
            <label class="form-check-label" for="var_line_5">
                5 {LINE}s
            </label>
        </div>
    </li>  
    <li class="list-group-item">
        <div class="form-check">
            <input class="var_lines form-check-input" type="radio" name="var_lines" value="6" {para6} id="var_line_6">
            <label class="form-check-label" for="var_line_6">
                6 {LINE}s
            </label>
        </div>
    </li>  
    <li class="list-group-item">
        <div class="form-check">
            <input class="var_lines form-check-input" type="radio" name="var_lines" value="7" {para7} id="var_line_7">
            <label class="form-check-label" for="var_line_7">
                7 {LINE}s
            </label>
        </div>
    </li>  
    <li class="list-group-item">
        <div class="form-check">
            <input class="var_lines form-check-input" type="radio" name="var_lines" value="8" {para8} id="var_line_8">
            <label class="form-check-label" for="var_line_8">
                8 {LINE}s
            </label>
        </div>
    </li>  
    <li class="list-group-item">
        <div class="form-check">
            <input class="var_lines form-check-input" type="radio" name="var_lines" value="9" {para9} id="var_line_9">
            <label class="form-check-label" for="var_line_9">
                9 {LINE}s
            </label>
        </div>
    </li>  
    <li class="list-group-item">
        <div class="form-check">
            <input class="var_lines form-check-input" type="radio" name="var_lines" value="10" {para10} id="var_line_10">
            <label class="form-check-label" for="var_line_10">
                10 {LINE}s
            </label>
        </div>
    </li>  
</ul>

<input type="hidden" name="tab_id" value="{tab_id}">