<div class="col-4 px-0 px-sm-1 px-md-2 px-lg-4 px-xl-8">
    <div class="form-group tab_option">

        <select name="tab_{_ID_ROW}{_ID_SELECT}" class="form-control {choose_tab_ajax}" id="choose_tab_{_ID_ROW}{_ID_SELECT}">
            <option selected value="{_VAL_ACTU}">{CHOOSE_SELECT}</option>
            <option value="0">{ANY}</option>
            {_OPTIONS}
        </select>

    </div>

    <div class="tab_select_pref {tab_select_pref_live}" id="result_tab_{_ID_ROW}{_ID_SELECT}">
        {_ITAB_SELECT}
    </div>
</div>
<input type="hidden" id="tab_id" name="tab_id" value="{tab_id}">