<div class="tab_down">

    <div class="small{CSS_DOWN}">
        <a data-toggle="tooltip" title="{TEXT_DOWN_SMALL_n}">{ALTERN_TXT_S_1n}{_VALUE_n}{ALTERN_TXT_S_2n}<span
                class="unit{CLASS_UNIT_DOWN_SMALLn}">{_UNIT_DOWN_SMALLn}</span>{ALTERN_TXT_S_3n}</a>
    </div>
    <div class="large{CSS_DOWN}">
        <a data-toggle="tooltip" title="{TEXT_DOWN_LARGE_n}">{ALTERN_TXT_L_1n}{_VALUE_n}{ALTERN_TXT_L_2n}<span
                class="unit{CLASS_UNIT_DOWN_LARGEn}">{_UNIT_DOWN_LARGEn}</span>{ALTERN_TXT_L_3n}</a>
    </div><!--
-->&nbsp;|&nbsp;<!--
--><div class="small{CSS_DOWN}">
        <a data-toggle="tooltip" title="{TEXT_DOWN_SMALL_x}">{ALTERN_TXT_S_1x}{_VALUE_x}{ALTERN_TXT_S_2x}<span
                class="unit{CLASS_UNIT_DOWN_SMALLx}">{_UNIT_DOWN_SMALLx}</span>{ALTERN_TXT_S_3x}</a>
    </div>
    <div class="large{CSS_DOWN}">
        <a data-toggle="tooltip" title="{TEXT_DOWN_LARGE_x}">{ALTERN_TXT_L_1x}{_VALUE_x}{ALTERN_TXT_L_2x}<span
                class="unit{CLASS_UNIT_DOWN_LARGEx}">{_UNIT_DOWN_LARGEx}</span>{ALTERN_TXT_L_3x}</a>
    </div>
</div>