<div class="tab_down">

    <div class="small800">{_DMY_3}</div>
    <div class="large800">{_DMY_4}</div>

    <div class="small{CSS_DOWN}">
        <a data-toggle="tooltip" title="{TEXT_DOWN_SMALL_n} {DMY_OF_DOWN_n}">{_DMY_VALUE_n}<span
                class="unit{CLASS_UNIT_DOWN_SMALL}">{_UNIT_DOWN_SMALL}</span></a>
        <div class="dmy_display_on"><a data-toggle="tooltip" title="{DMY_TXT_TOOLTIP}">|{DMY_LETTER}|</a></div>
        <div class="dmy_display_off"> | </div><a data-toggle="tooltip"
            title="{TEXT_DOWN_SMALL_x} {DMY_OF_DOWN_x}">{_DMY_VALUE_x}<span
                class="unit{CLASS_UNIT_DOWN_SMALL}">{_UNIT_DOWN_SMALL}</span></a>
    </div>
    <div class="large{CSS_DOWN}">
        <a data-toggle="tooltip" title="{TEXT_DOWN_LARGE_n} {DMY_OF_DOWN_n}">{_DMY_VALUE_n}<span
                class="unit{CLASS_UNIT_DOWN_LARGE}">{_UNIT_DOWN_LARGE}</span></a>
        <div class="dmy_display_on">
            <a data-toggle="tooltip" title="{DMY_TXT_TOOLTIP}"> | -{DMY_LETTER}- | </a>
        </div>
        <div class="dmy_display_off"> | </div>
        <a data-toggle="tooltip" title="{TEXT_DOWN_LARGE_x} {DMY_OF_DOWN_x}">{_DMY_VALUE_x}<span
                class="unit{CLASS_UNIT_DOWN_LARGE}">{_UNIT_DOWN_LARGE}</span></a>
    </div>

</div>
</div>
<!--FIN _DMY_ARROW_RIGHT-->
</div>
<!--FIN _DMY_ARROW_LEFT-->