        <div class="tab_down">

            <div class="small800">{_DMY_3}</div>
            <div class="large800">{_DMY_4}</div>

            <div class="small{CSS_DOWN}">
                <a data-toggle="tooltip"
                    title="{TEXT_DOWN_SMALL}&nbsp;{DMY_OF_DOWN}">{ALTERN_TXT_S_1}{_DMY_VALUE}{ALTERN_TXT_S_2}<span
                        class="unit{CLASS_UNIT_DOWN_SMALL}">{_UNIT_DOWN_SMALL}</span>{ALTERN_TXT_S_3}</a>
            </div>
            <div class="large{CSS_DOWN}">
                <a data-toggle="tooltip"
                    title="{TEXT_DOWN_LARGE}&nbsp;{DMY_OF_DOWN}">{ALTERN_TXT_L_1}{_DMY_VALUE}{ALTERN_TXT_L_2}<span
                        class="unit{CLASS_UNIT_DOWN_LARGE}">{_UNIT_DOWN_LARGE}</span>{ALTERN_TXT_L_3}</a>
            </div>

        </div>
    </div><!--FIN _DMY_ARROW_RIGHT-->
</div><!--FIN _DMY_ARROW_LEFT-->