<div class="tab_mid">

    {_DMY_2}

    <div class="small500 tab_mid_size_20">
        <a data-toggle="tooltip" title="{TEXT_TOOLTIP_S}"><span {_color}>{_VALUE_MAIN}<span
                    class="unit{_CLASS_UNIT_SMALL}">{_UNIT_S}</span></span>
        </a>
    </div>

    <div class="small500800 tab_mid_size_20">
        <a data-toggle="tooltip" title="{TEXT_TOOLTIP_M}"><span {_color}>{_VALUE_MAIN}<span
                    class="unit{_CLASS_UNIT_MIDDLE}">{_UNIT_M}</span></span>
        </a>
    </div>

    <div class="large800">
        <a data-toggle="tooltip" title="{TEXT_TOOLTIP_L}"><span {_color}>{_VALUE_MAIN}<span
                    class="unit{_CLASS_UNIT_LARGE}">&nbsp;{_UNIT_L}</span></span>{TXT_ALTERN}
        </a>
    </div>

</div>