<ul class="list-group col-md-10 offset-md-1">
    <li class="list-group-item"><strong>{STATION_LOCATION}</strong> : {_STATION_LOCATION}</li>
    <li class="list-group-item"><strong>{STATION_TYPE}</strong> : Weatherlink {_STATION_TYPE} - {_API_TIME}</li>
    <li class="list-group-item"><strong>{CRON_TYPE}</strong> : {_CRON_TYPE}</li>    
    <li class="list-group-item"><strong>{CRON_STATUS}</strong> : {_CRON_STATUS}</li>
    <li class="list-group-item"><strong>{CRON_TIMER}</strong> : {_CRON_TIMER}</li>
</ul>